.tree-item {
    cursor: pointer;
    margin: 5px;
}

.tree {
    margin-left: 16px;
}

.selected {
    color: rgb(0, 188, 212);
}

.deleted {
    color: rgba(0, 0, 0, 0.4);
}

.tree-item:hover {
    color: rgb(0, 188, 212);
}