html,
body {
    height: 100%;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    height: 100%;
}

.paper {
    flex: 1;
    margin: 15px;
    padding: 15px;
    overflow-y: auto;
}
